<template>
  <div class="q-mt-xl flex flex-center">
    <q-card class="my-card q-px-lg q-py-sm">
      <q-card-section>
        <div class="text-h5 text-secondary">Customize Natasha</div>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div class="row no-wrap items-center">
          <div class="text-h6 text-primary">Power Button</div>
           <q-space />
          <div>
              <q-checkbox
                :label="powerButton"
                color="primary"
                false-value="Disabled"
                true-value="Enabled"
                v-model="powerButton"
                keep-color
                />
          </div>
        </div>
        <div class="q-mt-md">When enabled, Natasha will act on your behalf over the channels
          you  have linked</div>
      </q-card-section>

      <q-card-section>
        <div class="text-h6 text-primary">Frequency</div>
        <div class="q-my-md">Choose how often you want Natasha
          to engage on social media. Your options are
          determined by your plan</div>
        <q-select color="primary" v-model="frequency"
          :options="frequencyOptions" label="Choose frequency">
          <template v-slot:prepend>
            <q-icon name="hourglass_empty" />
          </template>
        </q-select>
      </q-card-section>

      <q-card-section>
        <div class="text-h6 text-primary">Schedule</div>
        <div class="q-my-md">Choose when Natasha will start operating.
          If Natasha is configured to run more than once per day,
          the next run time is based on this start time.</div>
        <q-select color="primary" v-model="schedule"
          :options="scheduleOptions" label="Choose schedule">
          <template v-slot:prepend>
            <q-icon name="schedule" />
          </template>
        </q-select>
        <q-badge class="q-mt-md" color="info">
        {{ frequency }} afterward
      </q-badge>

      </q-card-section>

    </q-card>
  </div>
 </template>
<script>
export default {
  data() {
    return {
      powerButton: 'Enabled',
      frequencyOptions: ['Daily', 'Every 8 hours', 'Every 4 hours', 'Every hour'],
      scheduleOptions: ['0:05 AM GMT', '1:05 AM GMT', '2:05 AM GMT'],
      frequency: 'Daily',
      schedule: null,
    };
  },
};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 550px
</style>
