<template>
  <q-page class="q-pa-xl">
    <div class="row q-gutter-y-lg">
      <div class="col-12 text-h4">Dashboard</div>
      <div class="col-12 row q-gutter-y-md">

        <q-card class="col-12 q-px-lg q-py-md">
            <q-card-section class="q-gutter-y-md">
              <div class="row items-center q-gutter-x-sm">
              <q-avatar
                size="40px"
                font-size="20px"
                color="grey-3"
                text-color="grey-8"
                icon="fas fa-chart-bar"
                />
              <div class="text-h6 text-secondary">Metrics</div>
              </div>
              <q-separator />
              <div class="q-pa-md">
                INSERT GRAPH HERE
              </div>
            </q-card-section>
        </q-card>

        <q-card class="col-12 q-px-lg q-py-md">
            <q-card-section class="q-gutter-y-md">
              <div class="row items-center q-gutter-x-sm">
              <q-avatar
                size="40px"
                font-size="20px"
                color="grey-3"
                text-color="grey-8"
                icon="fas fa-clipboard-list"
                />
              <div class="text-h6 text-secondary">Natasha's Plan</div>
              </div>
              <div class="q-ml-xl q-gutter-y-md">
                <div>
                  Review Natasha’s engagement plan below. Click the icons to change
                how Natasha engages with a tweet.
                </div>
                <div class="row q-gutter-x-lg" >
                  <template v-for="(activity, index) in plan.activityStats">
                  <q-item clickable :key="index">
                    <q-item-section avatar >
                      <q-avatar
                        size="40px"
                        font-size="20px"
                        text-color="grey-8"
                        :icon="activity.icon"
                        />
                    </q-item-section>

                    <q-item-section>
                      <q-item-label overline>{{ activity.name.toUpperCase() }} </q-item-label>
                      <q-item-label class="text-secondary" caption>1</q-item-label>
                    </q-item-section>
                  </q-item>
                  </template>

                </div>
              </div>
              <div class="q-pa-sm">

                <!-- Tweet for Like activity -->
                <div class="row q-my-md">
                <q-card class="col-12 q-pa-lg  tweet-card" flat>
                  <q-item>
                    <q-item-section top avatar>
                      <q-avatar>
                        <img src="https://randomuser.me/api/portraits/men/86.jpg">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label class="q-mb-sm row items-center q-gutter-x-sm">
                        <span class="text-weight-bold">Brendon Wentz</span>
                        <span class="text-grey-7 text-caption">@brendonwentz</span>
                      </q-item-label>
                      <q-item-label class="q-my-md">
                        10 best tools for social media marketing: https://marketing.com...
                      </q-item-label>

                      <!--
                      <q-item-label class="row justify-between tweet-buttons">
                        <q-btn flat round color="grey-8" icon="far fa-comment" />
                        <q-btn flat round color="grey-8" icon="fas fa-retweet" />
                        <q-btn flat round color="red-6" icon="fas fa-heart" />
                        <q-btn flat round color="grey-8" icon="fas fa-trash" />
                      </q-item-label>
                      -->
                    </q-item-section>
                    <q-item-section side top>
                      <q-item-label caption>2020-12-03</q-item-label>
                    </q-item-section>
                  </q-item>
                  <div class="">
                  <q-card-actions align="around">
                        <q-btn flat round color="grey-8" icon="far fa-comment" />
                        <q-btn flat round color="grey-8" icon="fas fa-retweet" />
                        <q-btn flat round color="red-6" icon="fas fa-heart" />
                        <q-btn flat round color="grey-8" icon="fas fa-trash" />
                  </q-card-actions>
                  </div>
                </q-card>
                </div>
                <!-- End of Tweet for Like activity -->

                <!-- Tweet for Retweet activity -->
                <div class="row q-my-md">
                <q-card class="col-12 q-pa-lg  tweet-card" flat>
                  <q-item>
                    <q-item-section top avatar>
                      <q-avatar>
                        <img src="https://randomuser.me/api/portraits/women/82.jpg">
                      </q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label class="q-mb-sm row items-center q-gutter-x-sm">
                        <span class="text-weight-bold">Ashley Bent</span>
                        <span class="text-grey-7 text-caption">@ashleybent</span>
                      </q-item-label>
                      <q-item-label class="q-my-md">
                        How important is social media engagement to your company?
                      </q-item-label>

                    </q-item-section>
                    <q-item-section side top>
                      <q-item-label caption>2020-12-02</q-item-label>
                    </q-item-section>
                  </q-item>
                  <div class="tweet-buttons">
                    <q-card-actions align="around">
                      <q-btn flat round color="grey-8" icon="far fa-comment" />
                      <q-btn flat round color="green-6" icon="fas fa-retweet" />
                      <q-btn flat round color="grey-8" icon="fas fa-heart" />
                      <q-btn flat round color="grey-8" icon="fas fa-trash" />
                    </q-card-actions>
                  </div>
                </q-card>
                </div>
                <!-- End of Tweet for Retweet Activity -->

                <!-- Tweet for Reply Activity -->
                <div class="row q-my-md justify-center">
                  <q-card class="col-12 q-pa-lg tweet-card" flat>
                    <q-item>
                      <q-item-section top avatar>
                        <q-avatar>
                          <img src="https://randomuser.me/api/portraits/women/60.jpg">
                        </q-avatar>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label class="q-mb-sm row items-center q-gutter-x-sm">
                          <span class="text-weight-bold">Alice Wolf</span>
                          <span class="text-grey-7 text-caption">@alicewolf</span>
                        </q-item-label>
                        <q-item-label class="q-my-md">
                          Any tips on how to maximize Twitter for social media marketing?
                        </q-item-label>

                      </q-item-section>
                      <q-item-section side top>
                        <q-item-label caption>2020-12-02</q-item-label>
                      </q-item-section>
                    </q-item>
                    <div class="">
                      <q-card-actions align="around">
                        <q-btn flat round color="blue-6" icon="fas fa-comment" />
                        <q-btn flat round color="grey-8" icon="fas fa-retweet" />
                        <q-btn flat round color="grey-8" icon="fas fa-heart" />
                        <q-btn flat round color="grey-8" icon="fas fa-trash" />
                      </q-card-actions>
                    </div>
                  </q-card>

                  <q-card class="col-11 q-pa-lg reply-card" flat>
                    <q-item>
                      <q-item-section top avatar>
                        <q-avatar>
                          <img src="https://vignette.wikia.nocookie.net/wbanimation/images/5/56/Comp_2.jpg">
                        </q-avatar>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label class="q-mb-sm row items-center q-gutter-x-sm">
                          <span class="text-weight-bold">Acme Corp</span>
                          <span class="text-grey-7 text-caption">@acmedotcom</span>
                        </q-item-label>
                        <q-item-label class="q-my-md">
                          @alicewolf We’re making it simple and easy to increase social media
                          engament. Check out our website at acme.com to learn how we do it!
                        </q-item-label>

                      </q-item-section>
                      <q-item-section side top>
                        <q-icon name="fas fa-reply" color="grey-5"/>
                      </q-item-section>
                    </q-item>
                  </q-card>
                </div>
                <!-- End of Tweet for Reply Activity -->

                <!-- Start of 2 columns -->
                <q-separator spaced/>
                <div> TEST 2 ROWS </div>
                <div class="row  q-col-gutter-lg">
                  <!-- Tweet for Like activity -->
                  <div class="col-sm-12 col-md-6 row">
                    <q-card class="col-12 q-pa-lg  tweet-card" flat>
                      <q-item>
                        <q-item-section top avatar>
                          <q-avatar>
                            <img src="https://cdn.quasar.dev/img/avatar.png">
                          </q-avatar>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="q-mb-sm row items-center q-gutter-x-sm">
                            <span class="text-weight-bold">Brendon Wentz</span>
                            <span class="text-grey-7 text-caption">@brendonwentz</span>
                          </q-item-label>
                          <q-item-label class="q-my-md">
                            10 best tools for social media marketing: https://marketing.com...
                          </q-item-label>

                        </q-item-section>
                        <q-item-section side top>
                          <q-item-label caption>2020-12-03</q-item-label>
                        </q-item-section>
                      </q-item>
                      <div class="">
                        <q-card-actions align="around">
                          <q-btn flat round color="grey-8" icon="far fa-comment" />
                          <q-btn flat round color="grey-8" icon="fas fa-retweet" />
                          <q-btn flat round color="red-6" icon="fas fa-heart" />
                          <q-btn flat round color="grey-8" icon="fas fa-trash" />
                        </q-card-actions>
                      </div>
                    </q-card>
                  </div>
                  <!-- End of Tweet for Like Activity -->

                  <!-- Tweet for Retweet Activity -->
                  <div class="col-md-6 col-sm-12 row">
                    <q-card class="col-12 q-pa-lg  tweet-card" flat>
                      <q-item>
                        <q-item-section top avatar>
                          <q-avatar>
                            <img src="https://cdn.quasar.dev/img/avatar.png">
                          </q-avatar>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="q-mb-sm row items-center q-gutter-x-sm">
                            <span class="text-weight-bold">Ashley Bent</span>
                            <span class="text-grey-7 text-caption">@ashleybent</span>
                          </q-item-label>
                          <q-item-label class="q-my-md">
                            How important is social media engagement to your company?
                          </q-item-label>

                        </q-item-section>
                        <q-item-section side top>
                          <q-item-label caption>2020-12-02</q-item-label>
                        </q-item-section>
                      </q-item>
                      <div class="tweet-buttons">
                        <q-card-actions align="around">
                          <q-btn flat round color="grey-8" icon="far fa-comment" />
                          <q-btn flat round color="green-6" icon="fas fa-retweet" />
                          <q-btn flat round color="grey-8" icon="fas fa-heart" />
                          <q-btn flat round color="grey-8" icon="fas fa-trash" />
                        </q-card-actions>
                      </div>
                    </q-card>
                  </div>
                <!-- End of Tweet for Retweet Activity -->

                <!-- Tweet for Reply Activity -->
                <div class="col-md-6 col-sm-12 row justify-center">
                  <q-card class="col-12 q-pa-lg tweet-card" flat>
                    <q-item>
                      <q-item-section top avatar>
                        <q-avatar>
                          <img src="https://cdn.quasar.dev/img/avatar.png">
                        </q-avatar>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label class="q-mb-sm row items-center q-gutter-x-sm">
                          <span class="text-weight-bold">Alice Wolf</span>
                          <span class="text-grey-7 text-caption">@alicewolf</span>
                        </q-item-label>
                        <q-item-label class="q-my-md">
                          Any tips on how to maximize Twitter for social media marketing?
                        </q-item-label>

                      </q-item-section>
                      <q-item-section side top>
                        <q-item-label caption>2020-12-02</q-item-label>
                      </q-item-section>
                    </q-item>
                    <div class="">
                      <q-card-actions align="around">
                        <q-btn flat round color="blue-6" icon="fas fa-comment" />
                        <q-btn flat round color="grey-8" icon="fas fa-retweet" />
                        <q-btn flat round color="grey-8" icon="fas fa-heart" />
                        <q-btn flat round color="grey-8" icon="fas fa-trash" />
                      </q-card-actions>
                    </div>
                  </q-card>

                  <q-card class="col-11 q-pa-lg reply-card" flat>
                    <q-item>
                      <q-item-section top avatar>
                        <q-avatar>
                          <img src="https://cdn.quasar.dev/img/avatar.png">
                        </q-avatar>
                      </q-item-section>
                      <q-item-section>
                        <q-item-label class="q-mb-sm row items-center q-gutter-x-sm">
                          <span class="text-weight-bold">Acme Corp</span>
                          <span class="text-grey-7 text-caption">@acmedotcom</span>
                        </q-item-label>
                        <q-item-label class="q-my-md">
                          @alicewolf We’re making it simple and easy to increase social media
                          engament. Check out our website at acme.com to learn how we do it!
                        </q-item-label>

                      </q-item-section>
                      <q-item-section side top>
                        <q-icon name="fas fa-reply" color="grey-5"/>
                      </q-item-section>
                    </q-item>
                  </q-card>
                </div>
                <!-- End of Tweet for Reply Activity -->

                  <!-- Tweet for Retweet Activity -->
                  <div class="col-md-6 col-sm-12 row">
                    <q-card class="col-12 q-pa-lg  tweet-card" flat>
                      <q-item>
                        <q-item-section top avatar>
                          <q-avatar>
                            <img src="https://cdn.quasar.dev/img/avatar.png">
                          </q-avatar>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="q-mb-sm row items-center q-gutter-x-sm">
                            <span class="text-weight-bold">Ashley Bent</span>
                            <span class="text-grey-7 text-caption">@ashleybent</span>
                          </q-item-label>
                          <q-item-label class="q-my-md">
                            How important is social media engagement to your company?
                          </q-item-label>

                        </q-item-section>
                        <q-item-section side top>
                          <q-item-label caption>2020-12-02</q-item-label>
                        </q-item-section>
                      </q-item>
                      <div class="tweet-buttons">
                        <q-card-actions align="around">
                          <q-btn flat round color="grey-8" icon="far fa-comment" />
                          <q-btn flat round color="green-6" icon="fas fa-retweet" />
                          <q-btn flat round color="grey-8" icon="fas fa-heart" />
                          <q-btn flat round color="grey-8" icon="fas fa-trash" />
                        </q-card-actions>
                      </div>
                    </q-card>
                  </div>
                <!-- End of Tweet for Retweet Activity -->

                  <!-- Tweet for Like activity -->
                  <div class="col-sm-12 col-md-6 row">
                    <q-card class="col-12 q-pa-lg  tweet-card" flat>
                      <q-item>
                        <q-item-section top avatar>
                          <q-avatar>
                            <img src="https://cdn.quasar.dev/img/avatar.png">
                          </q-avatar>
                        </q-item-section>
                        <q-item-section>
                          <q-item-label class="q-mb-sm row items-center q-gutter-x-sm">
                            <span class="text-weight-bold">Brendon Wentz</span>
                            <span class="text-grey-7 text-caption">@brendonwentz</span>
                          </q-item-label>
                          <q-item-label class="q-my-md">
                            10 best tools for social media marketing: https://marketing.com...
                          </q-item-label>

                        </q-item-section>
                        <q-item-section side top>
                          <q-item-label caption>2020-12-03</q-item-label>
                        </q-item-section>
                      </q-item>
                      <div class="">
                        <q-card-actions align="around">
                          <q-btn flat round color="grey-8" icon="far fa-comment" />
                          <q-btn flat round color="grey-8" icon="fas fa-retweet" />
                          <q-btn flat round color="red-6" icon="fas fa-heart" />
                          <q-btn flat round color="grey-8" icon="fas fa-trash" />
                        </q-card-actions>
                      </div>
                    </q-card>
                  </div>
                  <!-- End of Tweet for Like Activity -->

                </div>
              </div>
            </q-card-section>
            <q-card-section>
              <q-card-actions align="right">
                <q-btn outline
                       align="around"
                       label="Publish"
                       color="green-6"
                       icon="fas fa-check"/>
              </q-card-actions>
            </q-card-section>
        </q-card>

      </div>
    </div>

  </q-page>
</template>

<script>
export default {
  data() {
    return {
      plan: {
        activityStats: [
          {
            name: 'Pending Likes',
            count: 20,
            icon: 'fas fa-heart',
          },
          {
            name: 'Pending Shares',
            count: 10,
            icon: 'fas fa-retweet',
          },
          {
            name: 'Pending Replies',
            count: 5,
            icon: 'fas fa-comment',
          },

        ],
        activities: [],
      },
    };
  },
};
</script>
<style lang="scss">
.tweet-card {
  background-color: #F5F8FA;
  max-height: 180px;
}
.reply-card {
  border: 1px solid $grey-5;
  border-top: 0;
}
.tweet-buttons {
//  max-width: 50em;
}
</style>
