<template>
  <Auth
    header="FORGOT PASSWORD"
    subheader="Please enter your email and we will send you a link to reset your password."
    @onSubmit="onSubmit"
    buttonLabel="Reset Password">
  <template v-slot:input>
    <q-input
      square
      clearable
      v-model="email"
      type="email"
      label="Email"
      :rules="[val => val && val.length > 0 || 'Please type something']">
      <template v-slot:prepend>
        <q-icon name="email" />
      </template>
    </q-input>
  </template>
  <template v-slot:subtext>
    <div class="text-grey-6">
      <router-link class="text-secondary" href="" to="/login">Back to login</router-link>
    </div>
  </template>
  </Auth>
</template>

<script>
import Auth from 'components/Auth.vue';

export default {
  components: {
    Auth,
  },
  data() {
    return {
      email: '',
    };
  },
  methods: {
    onSubmit() {
      alert(`submit ${this.email}`);
    },
  },
};
</script>
