<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-full.svg"
    >
    Hello world
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
};
</script>
