<template>
<index-layout>
  <!--<q-page class="column justify-start">-->
  <q-page class="pz-body">
    <div class="row q-ma-lg justify-center">
      <div class="col-12 col-lg-6 col-md-12 text-center q-my-lg ai-workforce-container">
        <div class="ai-workforce-image">
          <q-img
          src="~assets/ai_workforce.png"
          :transition="none"
          spinner-size="0px"
          no-default-spinner
          >
        </q-img>
        </div>
        <div class="text-primary pez-heading">
        Get ready to scale with <b>Natasha</b>
        </div>
      </div>

      <div class="col-12 col-lg-6 col-md-12 text-center">
        <div class="q-mx-xl form">
          <q-form ref="registrationForm" @submit="onSubmit" class="q-col-gutter-y-md">
            <q-input
              filled
              bg-color="white"
              label="Given Name"
              v-model="givenName"
              name="givenName"
              data-cy="givenName"
              lazy-rules="lazy-rules"
              :rules="[val => !!val || '*Field is required']"
              />
            <q-input
              filled
              bg-color="white"
              label="Family Name"
              v-model="familyName"
              name="familyName"
              data-cy="familyName"
              lazy-rules="lazy-rules"
              :rules="[val => !!val || '*Field is required']"
              />
           <q-input
              filled
              bg-color="white"
              label="Company (Optional)"
              v-model="company"
              hint=""
              name="company"
              />
          <q-input
              filled
              bg-color="white"
              label="Company Email"
              v-model="email"
              name="email"
              data-cy="email"
              type="email"
              lazy-rules="lazy-rules"
              :rules="[val => !!val ||
                   '*Field is required', val => val.includes('@') && val.includes('.') ||
                   '*Please provide a valid email address']"
              />
          <q-input
              filled
              bg-color="white"
              label="Password"
              v-model="password"
              name="password"
              lazy-rules="lazy-rules"
              :rules="[val => !!val || '*Field is required']"
              :type="isPwd ? 'password' : 'text'"
              @keyup.enter="onSubmit();"
              >
              <template v-slot:append>
                <q-icon
                  class="cursor-pointer"
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  @click="isPwd = !isPwd" />
              </template>
          </q-input>
          <div class="q-mb-md">
            <q-btn
               unelevated
               rounded
               size="lg"
               padding="sm xl"
               color="accent"
               class="full-width"
               label="SIGN UP"
               @click="onSubmit()"
               />
          </div>
          </q-form>

          <div class="text-right q-pt-md">
            By signing up, you agree to our
            <a href="https://pez.ai/privacy-policy/">Privacy Policy</a>
          </div>

          <div class="text-right q-pt-md italic">
            Already have an account?
            <router-link to="auth/login">Log In</router-link>.
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="q-px-lg text-h6 text-center">
      Click here to
      <router-link to="auth/register"
      class="text-primary">register</router-link>
      a new account or to
    </div>
    -->
  </q-page>
</index-layout>
</template>

<style>
a:link, a:visited, a:hover, a:active {
  color: #FFAB00;
}

.pez-heading {
  font-family: 'Montserrat';
  font-size: 24px;
}

.italic {
  font-style: italic;
}
.form {
  min-width: 200px;
}
.ai-workforce-container {
  min-width: 200px;
}
.ai-workforce-image {
  margin-bottom: 1vh;
}
.ai-workforce-image .q-img {
  width: 40vw;
  min-width: 200px;
  max-width: 450px;
}
</style>

<script>
import { mapActions } from 'vuex';
import { QSpinnerGears } from 'quasar';

export default {
  name: 'Index',
  components: {
    'index-layout': () => import('../layouts/IndexLayout.vue'),
  },
  data() {
    return {
      givenName: null,
      familyName: null,
      company: null,
      email: null,
      isPwd: true,
      password: null,
      passwordMatch: null,
    };
  },
  methods: {
    ...mapActions('auth', ['createNewUser', 'loginUser', 'sendVerificationEmail', 'isEmailVerified']),
    onSubmit() {
      const {
        email, password, givenName, familyName, company,
      } = this;
      this.$refs.registrationForm.validate()
        .then(async (success) => {
          if (success) {
            this.$q.loading.show({
              message: 'Registering your account...',
              backgroundColor: 'grey',
              spinner: QSpinnerGears,
              customClass: 'loader',
            });
            try {
              await this.createNewUser({
                email, password, givenName, familyName, company,
              });
              await this.sendVerificationEmail();
              this.$router.push({ path: '/auth/verify' });
            } catch (err) {
              console.error(err);
              this.$q.notify({
                message: `Oh no! ${err}`,
                color: 'negative',
              });
            } finally {
              this.$q.loading.hide();
            }
          }
        });
    },
  },
};
</script>
