<template>
  <Auth
    header="LOGIN"
    @onSubmit="onSubmit"
    buttonLabel="Login">
    <template v-slot:input>
      <q-input
        square
        clearable
        v-model="email"
        type="email"
        label="Email"
        :rules="[val => val && val.length > 0 || 'Please type something']">
        <template v-slot:prepend>
          <q-icon name="email" />
        </template>
      </q-input>
      <q-input
        square
        clearable
        :type="isPwd ? 'password' : 'text'"
        v-model="password"
        :rules="[val => val && val.length > 0 || 'Please type something']"
        label="Password">
        <template v-slot:prepend>
          <q-icon name="lock" />
        </template>
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'visibility_off' : 'visibility'"
            class="cursor-pointer"
            @click="isPwd = !isPwd"
            />
        </template>
      </q-input>
    </template>
    <template v-slot:subtext>
      <div class="text-grey-6 q-mb-md">Not registered?
        <router-link class="text-secondary" href="" to="/register">Create an Account</router-link>
      </div>
      <div class="text-grey-6">
        <router-link class="text-secondary" href="" to="/forgot">Forgot your password?</router-link>
      </div>
    </template>
  </Auth>
</template>

<script>
import Auth from 'components/Auth.vue';

export default {
  name: 'Login',
  components: { Auth },
  data() {
    return {
      email: '',
      password: '',
      isPwd: true,
    };
  },
  methods: {
    onSubmit() {
      alert(`submit ${this.email}`);
    },
  },
};
</script>
