<template>
  <q-page class="flex flex-center">
    <q-dialog v-model="carousel" persistent>
      <q-carousel
        swipeable
        v-model="slide"
        control-color="white"
        navigation
        padding
        ref="carousel"
        height="200px"
        class="bg-white shadow-1 rounded-borders text-secondary"
        style="min-width: 50vw; min-height: 40vh"
      >
        <q-carousel-slide :name="1" class="column no-wrap flex-center">
          <div class="q-mt-md text-center">
            <p class="text-h4">{{ slideHeader1 }}</p>
          </div>
          <div class="q-mb-lg text-center">
            <p class="text-body1">
            {{ slideBody1 }}
            </p>
          </div>
          <q-icon name="style" color="primary" size="56px" />
          <div class="absolute-bottom custom-caption">
          </div>
        </q-carousel-slide>
        <q-carousel-slide :name="2" class="column no-wrap flex-center">
          <div class="q-mt-md text-center">
            {{ slideBody2 }}
          </div>
          <q-icon name="live_tv" color="primary" size="56px" />
          <div class="absolute-bottom custom-caption">
          </div>
        </q-carousel-slide>
        <q-carousel-slide :name="3" class="column no-wrap flex-center">
          <div class="q-mt-md text-center">
            {{ slideBody3 }}
          </div>
          <q-icon name="layers" color="primary" size="56px" />
          <div class="absolute-bottom custom-caption">
          </div>
        </q-carousel-slide>
        <q-carousel-slide :name="4" class="column no-wrap flex-center">
          <div class="q-mt-md text-center">
            {{ slideBody4 }}
          </div>
          <q-icon name="terrain" color="primary" size="56px" />
          <div class="absolute-bottom custom-caption">
          </div>
        </q-carousel-slide>
        <template v-slot:control>
          <q-carousel-control
            position="bottom-left"
            :offset="[18, 18]"
            class="q-gutter-xs text-white"
            >
            <q-btn flat text-color="white" icon="arrow_left" label="Previous"
              @click="$refs.carousel.previous()" />
          </q-carousel-control>
            <q-carousel-control
              position="bottom-right"
              :offset="[18, 18]"
              class="q-gutter-xs text-white"
              >
              <q-btn flat text-color="white" icon-right="arrow_right" label="Next"
                @click="$refs.carousel.next()" />
            </q-carousel-control>
        </template>
      </q-carousel>
      </q-dialog>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      carousel: true,

      slide: 1,
      slideHeader1: "Let's configure Natasha!",
      slideBody1: 'Get started with Natasha in two easy steps',
      slideBody2: 'Give Natasha access to your social media account',
      slideBody3: 'Just keep being you. Natasha will find relevant posts',
      slideBody4: 'Watch your engagement grow',

      slideVol: 39,
      slideAlarm: 56,
      slideVibration: 63,
    };
  },
};
</script>
<style lang="sass" scoped>
.custom-caption
  text-align: center
  padding: 35px
  background-color: #3949AB
</style>
