<template>
  <Auth
    header="REGISTER"
    @onSubmit="onSubmit"
    buttonLabel="Register"
    >
    <template v-slot:input>
      <q-input square clearable
               v-model="firstName"
               type="text"
               label="First Name"
               :rules="[val => val && val.length > 0 || 'Please type something']">
        <template v-slot:prepend>
          <q-icon name="person" />
        </template>
      </q-input>
      <q-input square clearable
               v-model="lastName"
               type="text"
               label="Last Name"
               :rules="[val => val && val.length > 0 || 'Please type something']">
        <template v-slot:prepend>
          <q-icon name="person" />
        </template>
      </q-input>
      <q-input square clearable
               v-model="company"
               type="text"
               hint=""
               label="Company (Optional)">
        <template v-slot:prepend>
          <q-icon name="business" />
        </template>
      </q-input>
      <q-input square clearable
               v-model="email"
               type="email"
               label="Company Email"
               :rules="[val => val && val.length > 0 || 'Please type something']">
        <template v-slot:prepend>
          <q-icon name="email" />
        </template>
      </q-input>
      <q-input square clearable
               v-model="password"
               type="password"
               label="Password"
               :rules="[val => val && val.length > 0 || 'Please type something']">
        <template v-slot:prepend>
          <q-icon name="lock" />
        </template>
      </q-input>
    </template>
    <template v-slot:subtext>
      <div class="text-grey-6 q-mb-md">By signing up, you are agreeing to our
        <router-link class="text-secondary" href="" to="/">Privacy Policy</router-link>
      </div>
      <div class="text-grey-6">Already have an account?
        <router-link class="text-secondary" href="" to="/login">Login to your account</router-link>
      </div>
    </template>
  </Auth>
</template>

<script>
import Auth from 'components/Auth.vue';

export default {
  name: 'Register',
  components: { Auth },
  data() {
    return {
      firstName: '',
      lastName: '',
      company: '',
      email: '',
      password: '',
    };
  },
  methods: {
    onSubmit() {
      alert(`submit ${this.email}`);
    },
  },
};
</script>
