<template>
  <q-page class="row justify-center items-center">
    <div class="col-12 column">
      <div class="row justify-center expert-image">
        <q-img
          src="~assets/cassie.png"
          :transition="transition"
          spinner-size="0px"
          no-default-spinner
          >
        </q-img>
      </div>
      <div class="row justify-center z-top">
        <q-card :class="card_side_padding" class="q-py-lg q-px-none">
          <q-card-section v-if="header !== null" class="q-py-sm">
            <div class="text-h4 text-primary text-center text-bold">{{ header }}</div>
          </q-card-section>
          <q-card-section v-if="subheader !== null" class="q-py-sm q-px-none">
            <div class="text-normal text-grey-8 text-center">{{ subheader }}</div>
          </q-card-section>
          <q-card-section class="q-py-sm">
            <q-form @submit="onSubmit">
              <slot name="input"></slot>
              <q-card-actions class="q-py-lg q-px-none">
                <q-btn
                  type="submit"
                  rounded
                  unelevated
                  size="lg"
                  color="primary"
                  class="full-width text-white text-center"
                  :label="buttonLabel" />
              </q-card-actions>
            </q-form>
          </q-card-section>
          <q-card-section class="text-center q-py-none q-pt-sm">
            <slot name="subtext"></slot>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Auth',
  props: {
    header: {
      type: String,
      default: null,
    },
    subheader: {
      type: String,
      default: null,
    },
    buttonLabel: {
      type: String,
      default: 'Submit',
      required: true,
    },
  },
  methods: {
    onSubmit() {
      this.$emit('onSubmit');
    },
  },
  data() {
    return {
      card_side_padding: '',
      transition: 'slide-up',
    };
  },
  mounted() {
    if (this.$q.platform.is.mobile) {
      this.card_side_padding = 'q-px-md';
    } else {
      this.card_side_padding = 'q-px-xl';
    }
  },
};
</script>

<style>
.q-page {
  background: #fafafa;
}
.q-card  {
  max-width: 560px;
  min-width: 300px;
  width: 90%;
  border-radius: 15px;
}
.expert-image {
  margin-bottom: -0.1vh;
}
.expert-image .q-img {
  width: 250px;
}
</style>
