<template>
  <q-header elevated>
    <q-toolbar class="bg-white text-primary">
      <q-btn
        flat
        dense
        round
        aria-label="Menu"
        @click="click"
        />
        <q-toolbar-title>
          {{ title }}
        </q-toolbar-title>
    </q-toolbar>
  </q-header>
</template>

<script>
export default {
  name: 'Navbar',
  props: {
    title: {
      type: String,
      requird: true,
      default: 'Pez.AI',
    },
    click: {
      type: String,
      required: true,
    },
  },
};
</script>
