<template>
  <q-layout view="hHh lpR fFf">
    <q-header class="pez-header">
      <q-toolbar>
        <q-toolbar-title>
          <router-link to="/">
            <img src="../assets/pezai_logo.png" class="q-pt-md q-pb-sm q-pl-md">
          </router-link>
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
      <slot/>
    </q-page-container>
  </q-layout>
</template>

<style>
body {
  background-color: #fafafa;
}

.pez-header {
  background-color: #ffffff;
}
</style>

<script>
export default {
  computed: { },
  data() {
    return { };
  },
  methods: { },
};
</script>
